@font-face {
  font-family: "Roboto-400";
  src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-500";
  src: url(../../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-700";
  src: url(../../fonts/Roboto-Bold.ttf);
}
